@include tablet {
    .pets--friends {

        &--title {
            padding: 8rem 0 3rem 0;
        }
    }

    .pets--slider {
        place-content: center;
        grid-template-columns: repeat(2, 27rem);
        grid-template-rows: repeat(3, 43.5rem);
        gap: 3rem 4rem;

        &--block:nth-child(7),
        &--block:nth-child(8) {
            display: none;
        }
    }

    .pagination {
        padding: 4rem 0 7.6rem 0;
    }
}