@include tablet {
    .about {
        padding: 7.8rem 0 10rem;
        transition: 0.6s ease-in-out;


        &--container {
            flex-direction: column-reverse;
            align-items: center;
            transition: 0.6s ease-in-out;
        }

        &--img {
            padding: 0 18rem 0 17.5rem;
            transition: 0.6s ease-in-out;

        }

        &--content {
            transition: 0.6s ease-in-out;
        }

        &--title {
            transition: 0.6s ease-in-out;
        }

        &--text {
            transition: 0.6s ease-in-out;

            &-down {
                padding-bottom: 8rem;
            }
        }
    }
}