@include tablet {
    .footer {
        &--container {
            flex-wrap: wrap;
            gap: 0;
        }

        &--contacts {
            padding: 3rem 0 0 3.5rem;
        }

        &--img {
            padding: 6rem 0 0 20.5rem;
        }

        &--adress {
            width: 34rem;
            padding-top: 3rem;
        }

        &--adress-title {
            padding: 0 0 3.4rem 0.5rem;
            width: 28rem;
            margin: 0;
        }

        &--place {
            
            &::before {
                padding: 0.6rem 2rem 0 0.6rem;
            }
            &-mark::before {
                padding: 1rem 2rem 0 0.4rem;
            }
        }
    }
}