@include tablet {
    .not--only {
        flex-direction: column;

        &--content {
            padding: 0 0 10rem 0;
            margin: 0 auto;
        }

        &--text {
            padding-bottom: 4.2rem;
        }

        &--btn {
            display: inline-block;
            margin-left: 12.7rem;
        }

        &--img {
            text-align: right;
        }
    }
}