.not--only {
    display: flex;

    &--content {
        padding: 16.3rem  4.2rem 0 0;
    }

    &--title {
        width: 31rem;
        padding-bottom: 4.2rem;
        @extend %font-regular;
        font-size: 4.4rem;
        line-height: 5.7rem;
        color: $light;
    }

    &--text {
        width: 46rem;
        padding-bottom: 5.6rem;
        @extend %font-arial-regular;
        font-size: 1.5rem;
        line-height: 2.4rem;
        color: $textNormal;
    }

    &--btn {
        padding: 1.5rem 4.4rem;
        @extend %font-regular;
        font-size: 1.7rem;
        line-height: 2.2rem;
        letter-spacing: 0.06em;
        color: $dark;
        background: $desertColor;
        border-radius: 100px;
        border: none;
        cursor: pointer;
        transition: 1s;

        &:hover {
            background: $btnHover;
            transition:  0.3s ease-in-out;
        }
    }
}